<h1>Bienvenue !</h1>
<p>Tu trouvera ici tous les Gossips</p>
<!-- Afficher la liste des Gossip -->
        <% @all_gossips.each do |gossip| %>
            <p>
                <a>Prénom : <%= gossip.user.first_name %></a><br/>
                <a>Titre du Gossip <%= gossip.title %></a>
            </p>
        <% end %>