<body>

<div class="container">

    <div class="row">
    <h1>Bienvenue !</h1>
    <p>Tu trouvera ici tous les Gossips</p>
    <!-- Afficher la liste des Gossip -->
        <% @all_gossips.each do |gossip, id| %>
        <div class="card" style="width: 18rem;">
    
            <div class="card-body">
                <h5 class="card-title">Gossip n°<%= gossip.id %></h5>
                <p class="card-text"> <%= gossip.title %></p>
                <a href="/gossips/<%= gossip.id %>" class="btn btn-primary">Voir le gossip n°<%= gossip.id %></a>
            </div>
        </div>
        <% end %>
    </div>

</div>

</body>