<h1>Show#show</h1>
<p>Find me in app/views/show/show.html.erb</p>
<div class="card-body">
                <h5 class="card-title">De : <%= author.first_name %></h5>
                <p class="card-text">Titre du Gossip : <%= gossip.title %></p>
                <p class="card-text">Contenu du Gossip : <%= gossip.content %></p>
                <a href="/" class="btn btn-primary">Retourp</a>
            </div>


